@model tp.Models.ViewModel.IngresarUsuarioViewModel;

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<h1>Ingresar</h1>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <form asp-action="Ingresar">
            <div class="text-danger">@ViewBag.ErrorEnLogin</div>
            <div class="form-group">
                <label for="Usuario" class="control-label">Usuario</label>
                <input name="Usuario" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input name="Password" class="form-control"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-primary"/>
                <a class="btn btn-success" asp-action="CrearUsuario">Registrarse</a>
            </div>
        </form>
    </div>
</div>