@model tp.Models.ViewModel.SolicitarJuego;

@{
    ViewData["Title"] = "Solicitar Juego";
}

@if (User.Identity.IsAuthenticated)
{
    @if (@User.FindFirstValue(ClaimTypes.Role) != Rol.ADMIN.ToString())
    {
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <form asp-action="SolicitarJuego">
                    <input asp-for= "IdCreador" value="@User.FindFirstValue(ClaimTypes.Name)" style="display: none;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" type= text>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Categorias" class="control-label"></label>
                        <select class="form-control" asp-for="IdCategoria" asp-items="@Model.Categorias">
                        </select>
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Imagen" class="control-label"></label>
                        <input asp-for="Imagen" class="form-control" type="url">
                        <span asp-validation-for="Imagen" class="text-danger"></span>
                    </div>

                    <div class="form-group" id="auto" style="display: none">
                        <p class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="SolicitarJuego" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"></p>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enviar Solicitud" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    }
}
